body {
	font-family: Georgia, "Times New Roman", Times, serif;	
	font-size: 12;
	margin: 6px 6px 0px 6px;
}

h1 {
	font-family: Arial Narrow;
	font-style: italic;
	font-size: 84;
	color: #ffffff;	
	background-color: #003EA8
}

h3 {
	font-family: Arial;
	font-style: italic;
	font-size: 18;
	color: #000000;	
}

ul {
	list-style-type: disc;
	list-style-image: url(xp_arrow.png);
	list-style-position: inside;
	margin-left: 20;
	margin-right: 40;
	padding-left: 1em;
	text-indent: 0;

}

span.cmd {
	font-family: Andale Mono, Arial, Helvetica;
	font-size: 13;
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
}
